# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Local Environment Variables
.env*.local

# MikroORM temp and cache files
temp/ # if you have a temp folder for MikroORM or other processes
cache/ # if you have a cache folder

.git/

# SQLite database files
*.sqlite
*.sqlite3
*.sqlite3-journal # For SQLite journal files
*.sqlite3-shm     # For SQLite Shared Memory files
*.sqlite3-wal     # For SQLite Write-Ahead Log files

# MikroORM temp and cache files (if applicable, good to have)
temp/
cache/

node_modules/
# SQLite database files (specific to rest-client-history)
rest_client_history.sqlite3-shm
rest_client_history.sqlite3-wal